<ion-header>
    <ion-navbar no-border-bottom>
        <ion-title>
        </ion-title>
        <ion-buttons end>
            <button [disabled]="alreadyHiredSupplier" (click)="prepareContact()">Contact</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<div class="blue-background" [ngStyle]="{'height': blueHeight + 'px'}"></div>

<ion-content class="message-content messages" [ngStyle]="{bottom: contentsBottom + 'px'}" has-bouncing="false">

    <div class="profile-wrapper">
        <div class="avatar-image" [style.background-image]="'url(' + profileImage.url + ')' | safe_url"></div>
        <div class="supplier-name">{{businessName}}</div>
        <rating score="{{reviewRating}}" max="5"></rating>
        <div class="review-count">{{totalReviews}} reviews</div>
        <div class="togglebutton-wrapper">
            <div tappable [ngClass]="(curTab === 0) ? 'toggle-button selected':'toggle-button'" (click)="clickToggle(0);">Quote</div>
            <div tappable [ngClass]="(curTab === 1) ? 'toggle-button selected':'toggle-button'" (click)="clickToggle(1);">Profile</div>
        </div>
    </div>

    <div *ngIf="curTab === 1" class="profile-tab-wrapper" [ngStyle]="{'min-height': profileMinHeight + 'px'}">
        <ion-list *ngIf="alreadyHiredSupplier">
            <!--<ion-list-header>
                PROFILE
            </ion-list-header>-->
            <ion-item class="request-item" *ngFor="let item of profile">
                <div class="request-question">{{item.label}}</div>
                <div class="request-answer">{{item.data}}</div>
            </ion-item>
        </ion-list>
        <ion-list *ngIf="!alreadyHiredSupplier">
            <ion-list-header>
                Make contact to see full details.   
            </ion-list-header>
        </ion-list>

    </div>

    <div *ngIf="curTab === 0" class="quote-wrapper" [ngStyle]="{'min-height': quoteMinHeight + 'px'}">
        <div class="price-header">
            $ {{price}} <span class="desc">total price</span>
        </div>

        <ion-list no-lines>
            <ion-item *ngFor="let msg of messages">
                <chat-bubble [message]="msg"></chat-bubble>
            </ion-item>
        </ion-list>
    </div>

</ion-content>

<!--[ngStyle]="{bottom: footerBottom + 'px'}"-->
<ion-footer no-border-top [ngStyle]="{bottom: footerBottom + 'px'}" *ngIf="curTab === 0">
    <ion-toolbar class="message-bar">
        <ion-input class="message-input" #chat_input *ngIf="request" [(ngModel)]="message" class="chatbox" placeholder="Write a message..."></ion-input>
        <div class="button-wrapper">
            <button class="left-button block-button" royal *ngIf="request" (click)="attachMessage($event)">
                Attach
            </button>
            <button class="right-button block-button" royal *ngIf="request" (click)="sendMessage($event)">
                Send
            </button>
        </div>
    </ion-toolbar>
</ion-footer>