<ion-header>
    <ion-navbar no-border-bottom>
        <ion-title> {{footerBottom}}
        </ion-title>
        <ion-buttons end>
            <button [disabled]="alreadyHiredSupplier" (click)="hire()">Hire</button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar no-border-top>
        Details about the job and the pro
    </ion-toolbar>
</ion-header>

<ion-content class="message-content messages" [ngStyle]="{bottom: contentsBottom + 'px'}">

    <ion-item>
        $ {{price}} total price
    </ion-item>

    <!--<div>
        <ion-card *ngFor="let item of messages; let i = index">
            <ion-card-header *ngIf="item.data.uid === userId">
                Me:
            </ion-card-header>

            <ion-card-header *ngIf="item.data.uid !== userId">
                Pro:
            </ion-card-header>

            <ion-card-content>
                <p>
                    {{item.data.body}}
                </p>
            </ion-card-content>

        </ion-card>
    </div>-->

    <ion-list no-lines>
        <ion-item *ngFor="let msg of messages">
            <chat-bubble [message]="msg"></chat-bubble>
        </ion-item>
    </ion-list>

</ion-content>
<!--[ngStyle]="{bottom: footerBottom + 'px'}"-->
<ion-footer  no-border-top [ngStyle]="{bottom: footerBottom + 'px'}">
    <ion-toolbar class="message-bar">
        <!--[disabled]="request.hiring.supplierId !== supplierId"-->
        <ion-input #chat_input *ngIf="request" [(ngModel)]="message" class="chatbox"></ion-input>
        <ion-buttons end>
            <!--[disabled]="request.hired.supplierId !== supplierId"-->
            <button royal *ngIf="request" (click)="sendMessage($event)">
                <ion-icon name="send"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>