
.messages {

  .message-content {
    height: auto;
    background: none;
  }

  scroll-content {
    margin-bottom: 0px !important;
  }

  .blue-background {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 300px;
    background: #005677;
  }

  .chatbox {
    width: 100%;
    height: 44px;
    border: none;
    background: white;
    padding: 0px 10px;
    border-top: 1px solid #005677;
  }

  ion-footer {
    height: 88px;
  }

  .message-bar {
    position: absolute;
    bottom: 0px;
    height: 88px;
    padding: 0px;
  }

  .message-input {
    width: 100%;
    height: 44px;
    background: white;
  }

  .button-wrapper {
    position: relative;
    width: 100%;
    height: 44px;
  }

  .button-wrapper .left-button {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
  }

  .button-wrapper .right-button {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px;
  }

  ion-list {
    margin-bottom: 0px;
  }

  ion-label {
    margin: 0px 8px 13px 0;
  }

  .profile-wrapper {
    padding: 0px 20px 20px 20px;
    background: #005677;
    text-align: center;
    color: white;
  }

  .avatar-image {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .supplier-name {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 3px;
    word-break: break-all;
    white-space: normal;
  }

  .review-count {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .togglebutton-wrapper {
    display: inline-block;  
    width: 165px;
    height: 30px;
    background: #0a5b7a;
    margin-top: 10px;
  }

  .toggle-button {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    color: white;
    background: none;
  }

  .toggle-button.selected {
    color: black;
    background: white;
  }

  .profile-tab-wrapper {
    width: 100%;
    background: white;
  }

  .quote-wrapper {
    width: 100%;
    background: white;
  }

  button {
    color: white; 
  }

  .toolbar-background {
    background: #005677;
  }

  .price-header {
    width: 100%;
    height: 40px;
    background: #dce2e0;
    text-align: center;
    line-height: 35px;
    font-size: 2rem;
    font-weight: bold;
  }

  .price-header .desc {
    font-size: 1.2rem;
    color: #005677;
  }

  .request-title {
		    position: relative;
		    top: 5px;
   			width: 100%;
			text-align: left;
			color: #005677;
			font-size: 1.4rem;
			font-style: italic;
		}

		.request-item {
			padding: 0px 10px;
			border-bottom: 1px solid #eaeae5;
		}

		.request-item .item-inner {
		    padding: 0px;
		    border: none;
		}

		.request-item .item-inner ion-label {
			margin: 8px 0px;
		}

		.request-question {
			color: grey;
			font-size: 1.4rem;
			margin-bottom: 2px;
			word-wrap: break-word;
    		white-space: normal;
   		}

		.request-answer {
			color: black;
			font-size: 1.6rem;
			word-wrap: break-word;
		    white-space: normal;			
		}
}