<ion-header>
    <ion-navbar>
        <ion-title>
            {{nickName}}
        </ion-title>

        <ion-buttons end >
            <button [disabled]="alreadyHiredSupplier" (click)="hire()">Hire</button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content>



    <ion-item>
        $ {{price}} total price
    </ion-item>



    <div *ngIf="true">
        <ion-card *ngFor="let item of messages; let i = index">
            <ion-card-header *ngIf="item.data.uid === userId">
                Me:
            </ion-card-header>

            <ion-card-header *ngIf="item.data.uid !== userId">
                Pro:
            </ion-card-header>

            <ion-card-content>
                <p>
                    {{item.data.body}}
                </p>
            </ion-card-content>

        </ion-card>
    </div>

</ion-content>



<ion-footer>
    <ion-toolbar>
        <!--[disabled]="request.hiring.supplierId !== supplierId"-->
        <input *ngIf="request" [(ngModel)]="message">
        <ion-buttons end>
             <!--[disabled]="request.hired.supplierId !== supplierId"-->
            <button royal *ngIf="request" (click)="sendMessage()">
      <ion-icon name="send"></ion-icon>
    </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>