<ion-header>
    <ion-navbar>
        <ion-title>
            {{request.data.categoryName}}
        </ion-title>

        <ion-buttons end>
            <button (click)="showRequestOptions()">...</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="responses">


    <ion-item *ngIf="responses.length ===0">You'll soon start to see quotes here</ion-item>

    <ion-card tappable *ngFor="let item of responses" (click)="gotoMessages(item)">


        <ion-item>
            <ion-avatar item-left>
                <img src="{{profile.image}}">
            </ion-avatar>
            <h2>{{item.data.supplierNickName}}</h2>
            <p>{{totalReviews}} reviews <rating score="{{item.data.reviewRating}}" max="5"></rating></p>
        </ion-item>
        <ion-card-content>
            <h2 class="card-title"></h2>
            <p></p>
            <p>{{desc}}</p>

           
            <!--<ion-item>
                    Quote
                    <ion-note item-right>
                        $ {{item.data.price}}
                    </ion-note>
                </ion-item>-->


            {{item.data.initialMessage}}

        </ion-card-content>
    </ion-card>

    <!--<button ion-item  (click)="gotoMessages(item)">

            <ion-icon name="ios-contact" item-left></ion-icon>

            <ion-note item-right>
                $ {{item.data.price}}
            </ion-note>
            <p>{{item.data.supplierNickName}}</p>

        </button>-->

</ion-content>