<ion-header>
    <ion-navbar>
        <ion-title>
            {{request.data.categoryName}}
        </ion-title>

        <ion-buttons end>
            <button (click)="showRequestOptions()">...</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="responses">

    <ion-item class="no-quotes" *ngIf="responses.length ===0">You'll soon start to see quotes here</ion-item>

    <div class="quote-wrapper" tappable *ngFor="let item of responses" (click)="gotoMessages(item)">
        <ion-item>
            <ion-avatar item-left>
                <div *ngIf="item.data.supplierProfile.photo" class="avatar-image" [style.background-image]="'url(' + item.data.supplierProfile.photo + ')' | safe_url"></div>
                <div *ngIf="!item.data.supplierProfile.photo" class="avatar-image" [style.background-image]="'url(img/default-photo.png)' | safe_url"></div>
            </ion-avatar>
            <div class="supplier-name">{{item.data.supplierName}}</div>
            <rating score="{{item.data.reviewRating}}" max="5"></rating><span class="review-count">{{totalReviews}} reviews</span>
            <div item-right class="right-item">
                <div class="price-value">${{item.data.price}}</div>
            </div>
        </ion-item>
        <div class="quote-content">{{item.data.initialMessage}}</div>
    </div>

</ion-content>

<ion-footer>
    <button class="button block-button">Who are you hiring?</button>
</ion-footer>