<ion-header class="header">

<ion-navbar>
</ion-navbar>

  <!--<ion-buttons start>
            <button class="button button-icon button-clear" (click)="back()">
                <ion-icon name="arrow-dropleft-circle"></ion-icon>
            </button>
        </ion-buttons>-->
<!--<ion-toolbar no-border-top>
        <ion-title> {{categoryName}}
        </ion-title>
    </ion-toolbar>-->
</ion-header>


<ion-content>

    <ion-card *ngIf="field.type !== 'location'">
        <progressbar [animate]="false" [max]="maxStep" [value]="(formPageIndex+1)"><span style="color:white; white-space:nowrap;">&nbsp;</span></progressbar>
        <ion-card-header>
            <div class="label"><i>{{label}}</i></div>
        </ion-card-header>

        <ion-list *ngIf="field.type === 'enumeration'">

            <div tappable *ngFor="let item of field.possible_values" (click)="clicked(item)">
                <ion-item *ngIf="!item.can_describe || (field.isDateForm != true && field.isTimeForm != true)">
                    <ion-label *ngIf="!item.can_describe">{{item.label}}</ion-label>

                    <ion-input clearInput *ngIf="item.can_describe && field.isDateForm != true && field.isTimeForm != true" placeholder="{{item.label}}" type="text" 
                            (keyup)="onKeyUp(item)" name="answer" [(ngModel)]="answerObj[item.label]">
                    </ion-input>

                    <!--
                    <ion-icon *ngIf="!field.allows_multiple_values && !item.can_describe && !lastPage" name='radio-button-off' item-right></ion-icon>
                    <ion-icon *ngIf="!field.allows_multiple_values && formAnswers[formPageIndex]['ans']
                    && (formAnswers[formPageIndex]['ans'].indexOf(item.label) > -1)  && lastPage" name='radio-button-off' item-right></ion-icon>
                    -->

                    <ion-icon *ngIf="field.allows_multiple_values && formAnswers[formPageIndex]['ans']  
                    && (formAnswers[formPageIndex]['ans'].indexOf(item.label) > -1)" name='checkmark' item-right></ion-icon>

                    <ion-icon class="radio" *ngIf="!field.allows_multiple_values && !item.can_describe && formAnswers[formPageIndex]['ans']  
                    && (formAnswers[formPageIndex]['ans'].indexOf(item.label) > -1)" name='radio-button-on' item-right></ion-icon>

                    <ion-icon class="radio" *ngIf="!field.allows_multiple_values && !item.can_describe && (!formAnswers[formPageIndex]['ans']  
                    || (formAnswers[formPageIndex]['ans'].indexOf(item.label) <= -1))" name='radio-button-off' item-right></ion-icon>

                </ion-item>

                <div class="item item-datetime" *ngIf="item.can_describe && (field.isDateForm == true || field.isTimeForm == true)">
                    <span class="input-label">{{item.label}}</span> 
                    <input type="date" *ngIf="item.can_describe && field.isDateForm == true" (input)="onDateTimeChange($event)" [(ngModel)]="dateTime">
                    <input type="time" *ngIf="item.can_describe && field.isTimeForm == true" (input)="onDateTimeChange($event)" [(ngModel)]="dateTime">
                </div>
                <!--
                <div class="item" *ngIf="item.can_describe && (field.isDateForm == true || field.isTimeForm == true)">
                    <input placeholder="{{item.label}}" type="date" *ngIf="item.can_describe && field.isDateForm == true" [(ngModel)]="dateTime">
                    <input placeholder="{{item.label}}" type="time" *ngIf="item.can_describe && field.isTimeForm == true" [(ngModel)]="dateTime">
                </div>
                -->
            </div>

        </ion-list>

    </ion-card>

    <ion-card *ngIf="field.type === 'location'">

        <progressbar [animate]="false" [max]="maxStep" [value]="(formPageIndex+1)"><span style="color:white; white-space:nowrap;">&nbsp;</span></progressbar>
        <ion-card-header>
            <div class="label"><i>{{label}}</i></div>
        </ion-card-header>

        <!--<ion-item no-lines>
            <p [hidden]="locationSteps === 2">Please select the location</p>
            <p [hidden]="locationSteps === 1">Please select the starting location</p>
        </ion-item>-->

        <div class="input-wrapper">
            <input #autocomplete class="loc_input" name="location" type="text" placeholder="Enter location" [(ngModel)]="fromValue">
            <ion-icon *ngIf="fromValue.length > 0" name='close' (click)="cancelLocation(0)"></ion-icon>
        </div>
        <div [hidden]="fromValue.length == 0 || isResultHidden1" class="result-title-text">RESULTS</div>

        <div [hidden]="locationSteps === 1">
            <br><br><br><br>
            <ion-item class="disable-minheight" no-lines>
                <p>Please select the end location</p>
            </ion-item>
            <ion-item>
                <ion-label>Use start location</ion-label>
                <ion-checkbox [(ngModel)]="userStartLocation"></ion-checkbox>
            </ion-item>
            <div [hidden]="userStartLocation">
                <div class="input-wrapper">
                    <input #autocomplete2 class="loc_input" name="location2" type="text" placeholder="Enter end location" [(ngModel)]="toValue">
                    <ion-icon *ngIf="toValue.length > 0" name='close' (click)="cancelLocation(1)"></ion-icon>
                </div>
            </div>
            <div [hidden]="userStartLocation || toValue.length == 0 || isResultHidden2" class="result-title-text">RESULTS</div>
        </div>
    </ion-card>

    <!--<div *ngIf="field.type === 'location'" id="map_canvas">
    </div>-->

</ion-content>

<ion-footer>

    <ion-toolbar no-border-bottom>

            <button class="button" block *ngIf="!lastPage" [disabled]="(
                (field.allows_multiple_values && (formAnswersLength === 0)) ||  
                (field.type === 'location' && formAnswersLength === 0) ||
                (!field.allows_multiple_values && formAnswersLength === 0 )
                  )" (click)="next()">Next
                   <!--<ion-icon name="arrow-dropright-circle"></ion-icon>-->
            </button>

            <button class="button" block *ngIf="lastPage" [disabled]="(
                (field.allows_multiple_values && (formAnswersLength === 0)) ||  
                (field.type === 'location' && formAnswersLength === 0) ||
                (!field.allows_multiple_values && formAnswersLength === 0 )
                  )" (click)="submitRequest()"> Send
                  <!--<ion-icon name="send"></ion-icon>-->
            </button>
      

    </ion-toolbar>

</ion-footer>