.form {
    
}

.pac-container:after{
    content:none !important;

}

.pac-container {
    left: 16px;
}

.loc_input {
    min-height: 4.4rem;
    background-color: whitesmoke;
    width: 90%;
    height: 40px;
    line-height: 40px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    padding: 0px 30px 0px 10px;
    border: 1px solid #aaaaaa;
}

.input-wrapper {
    width: 100%;
}

.input-wrapper ion-icon {
    position: absolute;
    right: 5%;
    font-size: 3rem;
    margin: 0px;
    padding: 7px 10px;
}

ion-card {
    margin: 0px;
    margin-bottom: 1px;
    width: 100%;
}

ion-card ion-card-header {
    background: #f8f8f8;
}

ion-card ion-card-header .item {
    padding-left: 0px;
    background: none;
}

ion-card ion-list .item {
    padding-left: 0px;
}

ion-card ion-list .item .item-inner {
    padding-left: 16px;
}

ion-card ion-list .item .item-inner input {
    margin-left: 0px;
}

ion-footer .button {
    margin-top: 0px;
    margin-bottom: 0px;
}

#map_canvas {
    height: 300px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    // background-color : transparent;
}

ion-app._gmaps_cdv_ .nav-decor {
    background-color: rgba(0,0,0,0);
}

.progress-bar {
    background: #337ab7;
    height: 5px;
}