<ion-header>

    <ion-toolbar no-border-top>
        <ion-title> {{categoryName}}

        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>

    <ion-card *ngIf="field.type !== 'location'">
        <progressbar [animate]="false" [max]="maxStep" [value]="(formPageIndex+1)"><span style="color:white; white-space:nowrap;">&nbsp;</span></progressbar>
        <ion-card-header>
            <ion-item text-wrap><b>{{label}}</b></ion-item>
        </ion-card-header>
        <ion-list *ngIf="field.type === 'enumeration'">

            <ion-item detail-none text-wrap *ngFor="let item of field.possible_values" (click)="clicked(item)">
                <ion-label>{{item.label}}</ion-label>

                <ion-input clearInput *ngIf="item.can_describe && field.isDateForm != true && field.isTimeForm != true" placeholder="{{item.label}}" type="text" 
                        (keyup)="onKeyUp(item)"  name="answer" [(ngModel)]="answerObj[item.label]">
                </ion-input>
                <ion-datetime *ngIf="item.can_describe && field.isDateForm == true" displayFormat="MM/DD/YYYY" [(ngModel)]="dateTime">
                </ion-datetime>
                <ion-datetime *ngIf="item.can_describe && field.isTimeForm == true" displayFormat="HH:mm" [(ngModel)]="dateTime">
                </ion-datetime>

                <!--
                <ion-icon *ngIf="!field.allows_multiple_values && !item.can_describe && !lastPage" name='radio-button-off' item-right></ion-icon>
                <ion-icon *ngIf="!field.allows_multiple_values && formAnswers[formPageIndex]['ans']
                && (formAnswers[formPageIndex]['ans'].indexOf(item.label) > -1)  && lastPage" name='radio-button-off' item-right></ion-icon>
                -->

                <ion-icon *ngIf="field.allows_multiple_values && formAnswers[formPageIndex]['ans']  
                && (formAnswers[formPageIndex]['ans'].indexOf(item.label) > -1)" name='checkmark' item-right></ion-icon>

                <ion-icon *ngIf="!field.allows_multiple_values && !item.can_describe && formAnswers[formPageIndex]['ans']  
                && (formAnswers[formPageIndex]['ans'].indexOf(item.label) > -1)" name='radio-button-on' item-right></ion-icon>
                <ion-icon *ngIf="!field.allows_multiple_values && !item.can_describe && (!formAnswers[formPageIndex]['ans']  
                || (formAnswers[formPageIndex]['ans'].indexOf(item.label) <= -1))" name='radio-button-off' item-right></ion-icon>

            </ion-item>
        </ion-list>

    </ion-card>

    <div *ngIf="field.type === 'location'">
        <div [hidden]="locationStep === 2">
            <ion-item no-lines>
                <p [hidden]="locationSteps === 2">Please select the location</p>
                <p [hidden]="locationSteps === 1">Please select the starting location</p>
            </ion-item>

            <div class="input-wrapper">
                <input #autocomplete class="loc_input" name="location" type="text" placeholder="Enter location" [(ngModel)]="fromValue">
                <ion-icon *ngIf="fromValue.length > 0" name='close' (click)="cancelLocation()"></ion-icon>
            </div>
            <div [hidden]="locationStep === 2" *ngIf="fromValue.length > 0" class="result-title-text">RESULTS</div>
        </div>
        <div [hidden]="locationStep === 1">
            <ion-item no-lines>
                <p>Please select the end location</p>
            </ion-item>
            <input #autocomplete2 class="loc_input" name="location2" type="text" placeholder="Enter end location" [(ngModel)]="toValue">
        </div>
        <div [hidden]="locationStep === 1" *ngIf="toValue.length > 0" class="result-title-text">RESULTS</div>

    </div>

    <!--<div *ngIf="field.type === 'location'" id="map_canvas">
    </div>-->

</ion-content>

<ion-footer>

    <ion-toolbar no-border-bottom>

        <ion-buttons start>
            <button class="button button-icon button-clear" (click)="back()">
             <ion-icon name="arrow-dropleft-circle"></ion-icon>
        </button>


        </ion-buttons>

        <ion-buttons end>

            <button class="button button-icon button-clear" *ngIf="!lastPage" [disabled]="(
            
                (field.allows_multiple_values && (formAnswersLength === 0)) ||  
                (field.type === 'location' && formAnswersLength === 0) ||
                (!field.allows_multiple_values && formAnswersLength === 0 )  ||
                 (!field.allows_multiple_values && itemDescribed )
                  
                  )" (click)="next()">
                   <ion-icon name="arrow-dropright-circle"></ion-icon>


      </button>


         <button class="button button-icon button-clear" *ngIf="lastPage" [disabled]="(
            
                (field.allows_multiple_values && (formAnswersLength === 0)) ||  
                (field.type === 'location' && formAnswersLength === 0) ||
                (!field.allows_multiple_values && formAnswersLength === 0 )  ||
                 (!field.allows_multiple_values && itemDescribed )
                  
                  )" (click)="submitRequest()">
                  <ion-icon name="send"></ion-icon>



      </button>



        </ion-buttons>

    </ion-toolbar>


</ion-footer>