.form {
    
    .form-content {
        height: auto;
    }

    scroll-content {
        overflow-y: hidden;
    }

    .header {
        background-color: white;
    }

    .toolbar {
        padding: 0px;
    }

    .button {
        border-radius: 0px;
    }

    .radio {
        color: #005677;
    }

    .form-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
    }

    ion-slide {
        width: 100%;
        display: block;
        overflow: scroll;
    }
    /*
    .slide-zoom {
        height: 100%;
    }
    */
    ion-card {
        margin: 0px;
        margin-bottom: 1px;
        width: 100%;
        box-shadow: 0;
        background: white;
        border-radius: 0px;  
    }

    ion-card-header {
        padding: 40px;
    }

    .label {
        color: white;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.4rem;
    }

    ion-card-header {
        background-color: #005677;
        color: white;
        white-space: normal;
    }

    // ion-card {
    //     background: #f8f8f8;
    // }

    ion-card ion-card-header .item {
        padding-left: 0px;
        background: none;
    }

    ion-card ion-list .item {
        padding-left: 0px;
    }

    ion-card ion-list .item .item-inner {
        padding-left: 16px;
    }

    ion-card ion-list .item .item-inner input {
        margin-left: 0px;
    }

    ion-footer .button {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    ion-list .item .item-inner ion-label {
        margin: 0px;
    }

    .item-input {
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 0px 16px;
        border: none;
        box-shadow: none;
    }

    .item.item-datetime .input-label {
        position: absolute;
        left: 16px;
        top: 10px;
        color: #aaa;
    }

    .item.item-datetime input {
        position: absolute;
        right: 15px;
        top: 5px;
        width: 140px;
        padding: 0px;
        text-align: right;
    }

    .item-checkbox .item-inner {
        border: none;
    }

    .item-checkbox .item-inner .input-wrapper ion-label {
        margin: 0px;
    }
}

.pac-container {
    width: 100% !important;
    left: 0px !important;
    margin-top: 20px;
}

.pac-container:after{
    content:none !important;
}

.pac-item {
    height: 50px;
    line-height: 50px;
    background: whitesmoke;
}

.pac-item .pac-icon {
    margin-top: 16px;
}

.loc_input {
    min-height: 4.4rem;
    text-align: left;

    width: 75%;
    height: 40px;
    line-height: 40px;
    margin-left: 0%;
    margin-right: 5%;
    padding: 0px 10px;
    border: 0px 0px 0px 1px solid #aaaaaa;
}

.input-wrapper {
    width: 100%;
}

.input-wrapper ion-icon {
    position: absolute;
    right: 5%;
    font-size: 3rem;
    margin: 0px;
    padding: 7px 10px;
}

.result-title-text {
    height: 20px;
    line-height: 20px;
    background: #aaaaaa;
    color: white;
    padding-left: 24px;
    font-size: 1.2rem;
    text-align: left;
}


// #map_canvas {
//     height: 300px;
//     width: 90%;
//     margin-left: 5%;
//     margin-right: 5%;
//     // background-color : transparent;
// }

// ion-app._gmaps_cdv_ .nav-decor {
//     background-color: rgba(0,0,0,0);
// }

.progress-bar {
    background: #c2b560;
    height: 3px;
}