<ion-header>
    <ion-navbar>
        <ion-title text-wrap>
            {{categoryName}}
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content>

    <ion-card *ngIf="field.type !== 'location'">
        <ion-card-header>
            <ion-item text-wrap><b>{{label}}</b></ion-item>
        </ion-card-header>
        <ion-list *ngIf="field.type === 'enumeration'">

            <button ion-item detail-none text-wrap *ngFor="let item of field.possible_values" (click)="clicked(item)">
                {{item.label}}
            <ion-input clearInput *ngIf="item.can_describe" placeholder="{{item.label}}" type="text" 
                  (keyup)="onKeyUp(item)"  name="answer" [(ngModel)]="answerObj[item.label]">
            </ion-input>
            
            <ion-icon *ngIf="!field.allows_multiple_values && !item.can_describe && !lastPage" name='arrow-forward' item-right></ion-icon>
            
            <ion-icon *ngIf="field.allows_multiple_values && formAnswers[formPageIndex]['ans']  
            && (formAnswers[formPageIndex]['ans'].indexOf(item.label) > -1)" name='checkmark' item-right></ion-icon>
            
            <ion-icon *ngIf="!field.allows_multiple_values && formAnswers[formPageIndex]['ans']
            && (formAnswers[formPageIndex]['ans'].indexOf(item.label) > -1)  && lastPage" name='checkmark' item-right></ion-icon>

        </button>
        </ion-list>

    </ion-card>

    <div *ngIf="field.type === 'location'">
        <div [hidden]="locationStep === 2">
            <ion-item no-lines>
                <p [hidden]="locationSteps === 2">Please select the location</p>
                <p [hidden]="locationSteps === 1">Please select the starting location</p>
            </ion-item>

            <input #autocomplete class="loc_input" name="location" type="text" placeholder="Enter location" (keyup)="onInputChangeKeyUp()"
                [(ngModel)]="fromValue">
        </div>
        <div [hidden]="locationStep === 1">
            <ion-item no-lines>
                <p>Please select the end location</p>
            </ion-item>
            <input #autocomplete2 class="loc_input" name="location2" type="text" placeholder="Enter end location" (keyup)="onInputChangeKeyUp()"
                [(ngModel)]="toValue">
        </div>


    </div>

    <div *ngIf="field.type === 'location'" id="map_canvas">

    </div>
     <button *ngIf="field.type === 'location' && formAnswersLength > 0" no-lines style="border-radius:0px;margin-left: 5%;margin-right:5%;width:90%" (click)="next()">
           Next
      </button>
</ion-content>

<ion-footer>

    <button block *ngIf="(field.allows_multiple_values && (formAnswersLength > 0) ||    !field.allows_multiple_values && itemDescribed )
      && !lastPage" (click)="next()">
           Next
      </button>
<!--
    <button *ngIf="field.type === 'location'" block [disabled]="formAnswersLength === 0" (click)="next()">
           Next
      </button>-->

    <!--( (field.type === 'location') && (formAnswersLength > 0) ) ) -->
    <button block *ngIf="lastPage && (field.allows_multiple_values && (formAnswersLength > 0)  || 
    !field.allows_multiple_values)" (click)="submitRequest()">
           Submit Request
      </button>
</ion-footer>