// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../components/chat-bubble/chat-bubble";
@import "../pages/home/home";
@import "../pages/form/form";
@import "../pages/review/review";
@import "../pages/requests/messages";
@import "../pages/profile/profile";
@import "../pages/tabs/tabs";
@import "../pages/requests/requests";
@import "../pages/requests/requestResponses";
@import "../pages/requests/requestDetail";
@import "../pages/notifications/notifications";
@import "../pages/offline/offline";
@import "../pages/view-reviews/view-reviews";


ion-page {
  font-family: Avenir;
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-family: Adelle;
  font-style: italic;
  font-size: 1.4rem;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: Adelle;
  font-style: italic;
  font-size: 1.4rem;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: Adelle;
  font-style: italic;
  font-size: 1.4rem;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: Adelle;
  font-style: italic;
  font-size: 1.4rem;
}

/* set color for placeholder text of textarea element */
textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-family: Adelle;
  font-style: italic;
}
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: Adelle;
  font-style: italic;
}
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: Adelle;
  font-style: italic;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: Adelle;
  font-style: italic;
}

ion-navbar {
  .button-inner {
    font-size: 1.4rem;
  }

  .toolbar-title {
    text-align: center;
    font-size: 1.4rem;
  }
}

ion-buttons.start {
  order: 3;
}

.block-button {
  height: 44px !important;
}

button {
    box-shadow: none !important;
}

ion-toolbar {
  min-height: 44px !important;
}

.Aligner {
    display: flex;
    align-items: center;
    min-height: 100%;
    // min-height: 24em;
    justify-content: center;
}

.Aligner-item {
    flex: 1;
}

ion-navbar {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

ion-navbar .no-buttons {
	padding-left: 0px;
	padding-right: 0px;
}

.gm-style {

  a {
    display: none !important;
  }

  .gmnoprint {
    display: none !important;
  }

  .gmnoscreen {
    display: none !important;
  }

}