// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";

@import "../pages/form/form";

@import "../pages/review/review";

.Aligner {
    display: flex;
    align-items: center;
    min-height: 100%;
    // min-height: 24em;
    justify-content: center;
}

.Aligner-item {
    flex: 1;
}

.pac-container {
    width: 100% !important;
    left: 0px !important;
    margin-top: 10px;
}

.pac-item {
    height: 50px;
    line-height: 50px;
    background: whitesmoke;
}

.pac-item .pac-icon {
    margin-top: 16px;
}