<ion-header>
    <ion-navbar>
        <ion-title>
            YOU
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div class="profile-wrapper" *ngIf="!profile">
        <div tappable class="profile-image" [style.background-image]="'url(img/default-photo.png)' | safe_url" (click)="takePicture()"></div>
    </div>
    <div class="profile-wrapper" *ngIf="profile">
        <div tappable *ngIf="!profile.photo" class="profile-image" [style.background-image]="'url(img/default-photo.png)' | safe_url" (click)="takePicture()"></div>
        <div tappable *ngIf="profile.photo" class="profile-image" [style.background-image]="'url(' + profile.photo + ')' | safe_url" (click)="takePicture()"></div>
        <div class="profile-name">{{profile.firstName}} {{profile.lastName}}</div>
        <div class="profile-name">{{profile.email}}</div>
    </div>

    <ion-list text-wrap>
        <button ion-item detail-none (click)="itemTapped(0)">
            Settings
        </button>
        <button ion-item detail-none (click)="itemTapped(1)">
            Help
        </button>
        <button ion-item detail-none (click)="itemTapped(2)">
            Log Out
        </button>
        <button ion-item detail-none (click)="itemTapped(3)">
            Debug
        </button>
        <button ion-item detail-none (click)="itemTapped(4)">
            My Boats
        </button>
    </ion-list>

</ion-content>