<ion-header>
    <ion-navbar>
        <ion-title>EXPLORE</ion-title>
        <ion-buttons end>
            <button *ngIf="!isLoggedIn" (click)="loginClick()">Log In</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <!--<div class="search-bar">
        <ion-icon name="search"></ion-icon>
        <input placeholder="What do you need?">
    </div>-->

    <ion-slides *ngIf="popularCategoryList" (ionDidChange)="onPopularSlideChanged()" [options]="sliderOptions">
        <ion-slide tappable *ngFor="let idx of popularCategoryList" (click)="itemTapped(categoryList[idx])">
            <div class="popular-image" *ngIf="categoryList[idx]" [ngStyle]="{'background-image': 'url(' + (categoryList[idx].image ? categoryList[idx].image:profile.image) + ')'}"></div>
            <div class="title-cover-back"></div>
        </ion-slide>
    </ion-slides>

    <div class="slides-desc">
        <div class="title" *ngIf="categoryList[popularCategoryList[curPopularIndex]]">{{categoryList[popularCategoryList[curPopularIndex]].data.name}}</div>
        <div class="desc">Popular Service</div>
    </div>

    <div class="category-contents-wrapper">
        <div class="popular-desc">
            Browse, some of our most<br>
            popular services
        </div>

        <div class="category-list">
            <div class="category-contents" *ngFor="let group of categoryGroup">
                <div class="category-title">{{group.id}}</div>
                <ion-scroll class="service-list" scrollX="true" *ngIf="categoryList">
                    <div tappable class="service-contents" *ngFor="let item of group.data.categories" (click)="itemTapped(categoryList[item.idx])">
                        <div class="service-image" *ngIf="categoryList[item.idx]" [ngStyle]="{'background-image': 'url(' + (categoryList[item.idx].image ? categoryList[item.idx].image:profile.image) + ')'}"></div>
                        <div class="service-name" *ngIf="categoryList[item.idx]">{{categoryList[item.idx].data.name}}</div>
                    </div>
                </ion-scroll>
            </div>
        </div>
    </div>

</ion-content>