<ion-header>
    <ion-navbar>
        <ion-title>
            DEBUG
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list text-wrap>

        <ion-item *ngIf="user">
            User ID: {{userId}}
        </ion-item>

        <ion-item *ngIf="user">
            Credits: {{user.credits.balance}}
        </ion-item>

        <ion-item *ngIf="user">
            Push token: {{user.pushToken}}
        </ion-item>

        <ion-item *ngIf="user">
            Free Credits Mode: {{freeCreditsMode}}
        </ion-item>

    </ion-list>

</ion-content>